.tableFooter {
    background-color: #161925;
    padding: 8px 0px;
    width: 100%;
    font-weight: 500;
    text-align: left;
    font-size: 16px;
    color: #2c3e50;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    overflow-x: scroll;
  }
  
  .table-button {
    border: none;
    padding: 7px 14px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 4px;
    margin-left: 4px;
  }
  
  .table-button:hover {
    color: white;
    background: #185adb;
  }
  
  .activeButton {
    color: #ffc107;
    background: #185adb;
  }
  
  .inactiveButton {
    color: #2c3e50;
    background: #ffc107;
  }

  .animal-table {
    border-collapse: collapse;
    border: none;
    width: 100%;
    height: 90%;
    /* overflow: scroll; */
  }
  
  .tableRowHeader {
    background-color: transparent;
    transition: all 0.25s ease;
    border-radius: 10px;
  }
  
  .tableHeader {
    background-color: #161925;
    padding: 12px;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    color: #ffc107;
  }
  
  .tableHeader:first-child {
    border-top-left-radius: 15px;
  }
  
  .tableHeader:last-child {
    border-top-right-radius: 15px;
  }
  
  .tableRowItems {
    cursor: auto;
    background-color: #262d48;
  }
  
  .tableRowItems:nth-child(odd) {
    background-color: #3b4158;
  }
  
  .tableCell {
    padding: 12px;
    font-size: 20px;
    color: #ffc107;
    text-align: center;
  }

  .table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: white;
  }
  
  .table-wrapper {
    width: 100%;
    height: 100%;
  }

  .animal-table-div {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    height: 100%;
  }

  .tableBody {
    overflow: scroll;
  }

  .section-div {
    width: 80%;
  }